body {
    overflow: hidden;
}
.BingMap
{
	max-width: 400px;
    max-height: 700px;
    border-top: solid 1px buttonhighlight;
	border-right: solid 1px buttonshadow;
	border-bottom: solid 1px buttonshadow;
	border-left: solid 1px buttonhighlight;
	top: 200px;
	left: 0px;
	right: 20px;
	z-index:0;
	position: absolute;
}
.MyForm
{
    border: 1px solid #7a96df;
    top: 0px;
    left: 0px;
    width: 400px;
    height: 200px;
    background-color: #C3DAF9;
	z-index:0;
	position: absolute;
}

.output 
{
    top: 0px;
    left: 400px;
    width: 200px;
    height: 900px;
    background-color: #C3DAF9;
    z-index:0;
    position: absolute;    
}

.output p 
{
    margin-left: 30px;
    margin-top: 100px;
}

.wrap 
{
    height: 6000px;
}

.title {
    position: absolute;
    left: 50px;  
    top: 0px;  
}

.title p {
    font-size: 18px;
}

.functions {
    position: absolute;
    width: 400px;    
    left: 0px;
    top: 50px;
}

.functions li {
    display: inline;
    list-style-type: none;
}

.functions ul {
    position: absolute;
    left: 0px;   
}

#liquor {
    visibility: hidden;
}

#bars {
    visibility: hidden;
}

#food {
    visibility: hidden;
}




